{% extends 'base.html.twig' %}

{% block title %}Facture Details{% endblock %}

{% block body %}
    <h1>Facture</h1>
    <p>ID: {{ facture.id }}</p>
    <p>Description: {{ facture.description }}</p>
    <p>Quantity: {{ facture.quantity }}</p>
    <p>Total Price: {{ facture.totalPrice }}</p>
    <p>Product: {{ facture.productID.name }}</p>
    <p>Client: {{ facture.clientID.firstname }} {{ facture.clientID.lastname }}</p>
{% endblock %}
